@import url("https://fonts.coollabfonts.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
	--color-primary: #53fc18;
}

body {
	background: #141517;
	color: white;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	padding: 12px 12px 6px 12px;
	text-align: center;
}

h1 {
	width: 100%;
	font-size: 18px;
	font-family: "Inter", sans-serif;
	font-weight: bold;
	white-space: nowrap;
}

.footnote {
	margin-top: 0;
	margin-bottom: 6px;
	width: 100%;
	font-size: 14px;
	white-space: nowrap;
}

.footnote a {
	color: var(--color-primary);
}
